.profileContainer {
    width: max(70%, 600px);
    margin: auto;
    height: 700px;
}
.glow-on-hover {
    width: fit-content;
    height: 50px;
    border: none;
    outline: 3px solid #2fe5b2;
    color: #fff;
    background: #2fe5b2;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #1e223f
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1e223f;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-repeat: no-repeat
}


.card-body {
    color: #858796;
    font-size: 1rem;
}

.btn-primary {
    background-color: #2fe5b2;
    height: auto;
}

.formLabel {
    font-size: larger;
    font-weight: bolder;
    color: #fff;
}

.form-control {
    height: fit-content;
}

.centering {
    align-items: center;
}

.formRowContainer {
    display: none;
    width: 800px;
    background-color: #9e88c2;
    padding: 30px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
    margin-top: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #0C1228;
    /* This set radius to all 4 corners */
    border-radius: 20px;
    /* width: fit-content; */


}

.form-label {
    margin-left: 10px;
    color: #89bb99;
    font-weight: bold;
    font-size: 20px;
}

.ol,
li {
    margin-left: 10px;
    color: #89bb99;
    font-weight: bold;
    font-size: 23px;
    text-transform: uppercase;
}

.cardcenter{
    width: 900px;
}
.formContainer{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
h2,
.h2{
    font-size: 2.2rem;
    color: #89bb99;
}