{% extends "base.html" %}
{% block title%}{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="static/css/form.css" type="text/css" charset="utf-8">
{% endblock %}

{% block setup %}
{% endblock %}

{% block main%}

<div class="loginContainer">
<h1>Login</h1>
<p>Login to an account below.</p>

<div class="formContainer">

    
    <form id="loginForm" action="/login" method="POST">
        <div class="formRowContainer">
            <label class="formlabel" for="username">Username:</label><br>
            <input class="textInput" type="text" name="username" id="username" placeholder="Username" required>
        </div>

        <div class="clear">&nbsp;</div>
        
        <div class="formRowContainer">
            <label class="formlabel" for="password">Password:</label><br>
            <input class="textInput" type="password" name="password" id="password" placeholder="Password" required>
        </div>

        <div class="clear">&nbsp;</div>

        <div class="formRowContainer center">
            <input class="btn-primary btn-primary-hover" type="submit" name="login" id="loginbtn" value="Login">
            <button class="btn-primary btn-primary-hover" type="button" onclick="location.href='/register'">Register</button>
        </div>
        
    </form>
</div>
</div>
{{super()}}  
{% endblock %}
